@model IEnumerable<QTM.Models.RegEmp>

@{
    ViewBag.Title = "List";
    // Layout = "~/Views/_ViewStart.cshtml";
    }

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        
        
    </tr>
}

</table>
