<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }

            .affix + .page-header {
                padding-top: 100px;
            }
    </style>
</head>
<body>
    <div class="page-header" style="margin-top:-45px">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/Images/srasys.png" />
            </div>
            <div class="col-md-6" style="text-align:center">
                <h3>SRASYS INNOVATIONS (INDIA) PRIVATE LIMITED</h3>
                <h4 style="font-weight:bold">TIME MANAGEMENT</h4>

            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/srasys.png" />
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" data-spy="affix" data-offset-top="130" style="margin-top:-20px">
        <div class="container-fluid">
            <div class="navbar-header" style="padding-left:50px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;font-weight:bold">Welcome To 4QTM</a>
            </div>
            <div class="navbar-collapse collapse" id="myNavbar">
                <ul class="nav navbar-nav" style="padding-left:40px">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("About", "About")</li>
                    <li>@Html.ActionLink("Contact", "Contact")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="padding-right:80px">
                    <li>@Html.ActionLink("Register", "Register")</li>
                    <li>@Html.ActionLink("Login", "Login")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
