@model Q4TM.Models.EmployeeLoginModel

@{
    ViewBag.Title = "Login";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="panel panel-body">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="thumbnail">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 style="text-align:center">Director Message</h3>
                    </div>
                </div>
                <img src="~/Content/Images/sra.png" style="margin-top:20px;height:200px" />
                <div class="caption" style="text-align:center">
                    <h3>T SRINIVASULU</h3>
                    <p style="font-weight:bold;color:green">Have a faith in us, we will give full satisfaction by providing best services.</p>
                </div>
            </div>

        </div>
    </div>

    <div style="margin-top:50px">

        <center>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal col-md-9">
                    <img src="~/Content/Images/sra.png" style="height:100px;width:100px;margin-right:265px" class="img-circle" />
                    <hr />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (ViewBag.Message != null)
                    {
                        <div class="form-group">
                            <div class="col-md-9" style="color:red">@ViewBag.Message</div>
                        </div>
                    }
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.EmpId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Employee ID" } })
                            @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 blink">
                            <input type="submit" value="Login" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            }
        </center>
    </div>

</div>
<script>
    function blinker() {
        $('.blink').fadeOut(500);
        $('.blink').fadeIn(500);
    }
    setInterval(blinker, 1000);
</script>
<div>
    @Html.ActionLink("Back to Home", "Index")
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
