@model IEnumerable<QTM4.Models.EmployeeTaskModel>
<br />
@{ int rowNo = 0;}
<table class="table table-striped" id="INUlist">
    <tr>
        <th colspan="7" style="color:blue;padding-left:220px">Important and NotUrgent</th>
    </tr>
    <tr>
        <th>S.No</th>
        <th>Task Description</th>
        <th>Type Of Task</th>
        @*<th>Start Time</th>
        <th>End Time</th>*@
        <th>Status</th>
        <th><a href="#" id="INUsearch"><i class="glyphicon glyphicon-filter"></i>Filter</a></th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td class="TaskId">
            @(rowNo += 1)
            <span style="display:none">@item.TaskId</span>
            <input id="Checkbox_@item.TaskId" onclick="chk()" type="checkbox" />
        </td>
        <td class="Task">
            <span>@item.Task</span>
            @*<input class="col-xs-12" type="text" value="@item.Task" style="display:none" readonly />*@
        </td>
        @{
            if (item.Type_Of_Task.Equals("Srasys") || item.Type_Of_Task.Equals("srasys"))
            {
                 <td class="TypeOfTask" style="background-color:forestgreen;font-weight:bold">
                    <span>@item.Type_Of_Task</span>
                    @*<input type="text" class="col-xs-10" value="@item.Type_Of_Task" style="display:none" readonly/>*@
                </td>
            }
           else if (item.Type_Of_Task.Equals("Office") || item.Type_Of_Task.Equals("office"))
            {
                <td class="TypeOfTask" style="background-color:palevioletred">
                    <span>@item.Type_Of_Task</span>
                    @*<input type="text" class="col-xs-10" value="@item.Type_Of_Task" style="display:none" readonly />*@
                 </td>
            }
            else if (item.Type_Of_Task.Equals("Personal") || item.Type_Of_Task.Equals("personal"))
            {
                 <td class="TypeOfTask" style="background-color:wheat">
                     <span>@item.Type_Of_Task</span>
                     @*<input type="text" class="col-xs-10" value="@item.Type_Of_Task" style="display:none" readonly />*@
                </td>
            }
            else
            {
                <td class="TypeOfTask">
                     <span>@item.Type_Of_Task</span>
                     @*<input type="text" class="col-xs-10" value="@item.Type_Of_Task" style="display:none" readonly />*@
                </td>
            }
        }
     

        @*<td class="TypeOfTask">
            <span>@item.Type_Of_Task</span>
            <input type="text" value="@item.Type_Of_Task" style="display:none" readonly />
        </td>
        <td class="StartTime">
            <span>@item.Start_Time</span>

        </td>
        <td class="EndTime">
            <span>@item.End_Time</span>

        </td>*@

        <td class="Status">
            <span>@item.Status</span>
            <input class="col-xs-10" type="text" value="@item.Status" style="display:none" />
        </td>

        <td class="EditSave">
            <a class="Edit" href="javascript:;">Edit</a>
            <a class="Update" href="javascript:;" style="display:none">Update</a>
            <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
            @*<a class="Delete" href="javascript:;">Delete</a>*@
        </td>
    </tr>
    }
</table>

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@*<script>
    $("#INUsearch").click(function () {

        $(".qsearch").toggle();
    })
</script>*@

<script>

    //Edit event handler.
    $("body").on("click", "#INUlist .Edit", function () {
        var row = $(this).closest("tr");

        $("td", row).each(function () {
            if ($(this).find("input[type=text]").length > 0) {
                $(this).find("input[type=text]").show();
                $(this).find("span").hide();
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();
        row.find(".Delete").hide();
        $(this).hide();
    });

    //Update event handler.
    $("body").on("click", "#INUlist .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input[type=text]").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input[type=text]");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Delete").show();
        row.find(".Cancel").hide();
        $(this).hide();

        var employees = {};
        employees.TaskId = row.find(".TaskId").find("span").html();

        employees.Task = row.find(".Task").find("span").html();
        employees.Type_Of_Task = row.find(".TypeOfTask").find("span").html();
       // employees.Start_Time = row.find(".StartTime").find("span").html();
        //employees.End_Time = row.find(".EndTime").find("span").html();
        employees.Status = row.find(".Status").find("span").html();

        $.ajax({
            type: "POST",
            url: "/QTM/UpdateINU",
            data: '{employees:' + JSON.stringify(employees) + '}',
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response == "yes") {
                    alert("Updated Successfully");
                }
            }
        });
    });

    //Cancel event handler.
    $("body").on("click", "#INUlist .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input[type=text]").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input[type=text]");
                input.val(span.html());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Delete").show();
        row.find(".Update").hide();
        $(this).hide();
    });

    //Delete event handler.
    $("body").on("click", "#INUlist .Delete", function () {
        if (confirm("Do you want to delete this row?")) {
            var row = $(this).closest("tr");
            var taskId = row.find("span").html();
            $.ajax({
                type: "POST",
                url: "/QTM/DeleteEmployee",
                data: '{taskId: ' + taskId + '}',
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    if ($("#INUlist tr").length > 2) {
                        row.remove();
                        alert("Deleted Successfully");
                    } else {
                        row.find(".Edit").hide();
                        row.find(".Delete").hide();
                        row.find("span").html('&nbsp;');
                    }
                }
            });
        }
    });

</script>